.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: lightblue;
}

.flex-container>div {
    width: 100px;
    margin: 40px;
    text-align: center;
    line-height: 75px;
}

img {
    height: 100px;
    width: 100px;
}

body {
    background-color: lightblue;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

table,
p {
    font-size: 120%;
    font-style: oblique;
    animation-duration: 3s;
    animation-name: slidein;
}

button {
    inline-size: 8vw;
    block-size: 5vh;
    background-color: rgb(21, 131, 196);
    font-size: 1em;
}

@media screen and (max-width:800px) {
    button {
        inline-size: 100px;
        block-size: 40px;
        font-size: 20px;
    }
}